# Ignore Composer dependencies
/vendor/

# Ignore build artifacts
/build/
/builds/

# Ignore logs and backups
/logs/
/backups/

# Ignore scripts (not needed in release)
/scripts/

# Ignore test output
/coverage/
/coverage-merged/
/.phpunit.cache/
/.phpbench/
/infection.log

# Ignore IDE/editor/project files
/.vscode/
.DS_Store

# Ignore config and cache
composer.lock
phpstan.neon
psalm.xml
infection.json
phpbench.json
.phpcs-cache
.phplint-cache
.phpstan-cache

# Code Quality
node_modules/
package-lock.json
.prettier-cache/

# Ignore documentation from releases
/docs/
tests/.phpunit.result.cache
