includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    bootstrapFiles:
        - phpstan-bootstrap.php
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - includes/
    excludePaths:
        - tests/
        - vendor/
        - includes/templates/
    ignoreErrors:
        - '#^(Method|Function|Property) [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\) has parameter \$[a-zA-Z0-9_]+ with no type specified.#'
        - '#^(Method|Function|Property) [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\) has no return type specified.#'
        - '#^Access to an undefined property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9_]+.#'
        - '#^Call to an undefined method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\).#'
        - '#^Variable \$[a-zA-Z0-9_]+ might not be defined.#'
        - '#^Static method .* is unused.#'
        - '#^Parameter .* of function is_readable expects string, null given.#'
        - '#^Negated boolean expression is always true.#'
        - '#^Method.*invoked with 0 parameters, 1 required.#'
        - '#^Call to an undefined method YahnisElsts\\PluginUpdateChecker.*setCheckInterval\(\).#'
        - '#^Function add_link not found.#'
        - '#^Function .* not found.#'
        -
            message: '#.*#'
            identifier: missingType.iterableValue
    tmpDir: .phpstan-cache
    reportUnmatchedIgnoredErrors: false
