<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true" stopOnFailure="false" verbose="true">
    <php>
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED &amp; ~E_NOTICE &amp; ~E_WARNING"/>
        <ini name="display_errors" value="1"/>
        <!-- The test environment variables will be set by PHP ini settings in test.sh -->
        <env name="OAUTH_DEBUG" value="1"/>
        <env name="OAUTH_DEBUG_LOG_LEVEL" value="debug"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>./Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./Integration</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../includes</directory>
        </include>
        <exclude>
            <directory>../vendor</directory>
            <directory>../tests</directory>
            <directory>../build</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage"/>
            <text outputFile="coverage.txt"/>
        </report>
    </coverage>
</phpunit>
